:root {
  --cross-color: #aa405c;
  --naught-color: #fea674;
  --background-color: #260b2c;
  --grid-lines-color: #55194f;
  --neutral-color: #d56059;
  --size: clamp(150px, 75vw, 500px);
  
  --background-color: #1e1d1b;
  --background-color: #251e18;
  --grid-lines-color-neutral: #736449;
  --grid-lines-color-active: #ffe7c2;
  --cross-color: #849547;
  --naught-color: #6dc59b;
  --naught-color: #09a08d;
  --naught-color: #f75a0d;
  
  --cross-color: #849547;
  --naught-color: #f75a0d;

  --button-color: #251e18;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  /* outline: 2px solid black; */
}

body {
  background-color: var(--background-color);
}

.App {
  height: 100vh;
  background-color: var(--background-color);
  text-align: center;
}

.home{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 5%;
}

.tile span {
  opacity: 0;
  transition: opacity 0.3s;
}

.tile span.visible {
  opacity: 1;
}

.btn {
  box-sizing: content-box;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.5em 2em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  gap: 0.5em;
}

.btn.disabled {
  display: none;
  /* background-color: var(--background-color); */
}

.tile.disabled {
  cursor: default;
}

.btn-container {
  justify-content: center;
  display: flex;
  gap: 1.5em;
}

.board {
  font-size: clamp(2.4em, 1.08vw, 6em);
  font-weight: 500;
  position: relative;
  display: grid;
  height: var(--size);
  width: var(--size);
  grid-template-columns: 30fr 2.5fr 30fr 2.5fr 30fr;
  grid-template-rows: 30fr 2.5fr 30fr 2.5fr 30fr;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  aspect-ratio: 1;
  position: relative;
  font-size: clamp(3rem, 20vw, 7rem);
}

.cross {
  color: var(--cross-color);
}

.neutral {
  color: var(--neutral-color);
}

.tile .naught, .tile .cross {
  position: absolute;
}

.naught {
  color: var(--naught-color);
}

.cross, .naught, .neutral {
  transition: opacity 0.2s !important;
}

.cross.invert {
  background-color: var(--cross-color);
  color: var(--background-color);
}

.neutral.invert {
  background-color: var(--neutral-color);
  color: var(--background-color);
}

.naught.invert {
  background-color: var(--naught-color);
  color: var(--background-color);
}

.btn {
  background-color: var(--button-color);
  color: var(--grid-lines-color-active);
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid var(--grid-lines-color-active);
}

.btn:hover {
  background-color: #ffe7c2;
  color: var(--background-color);
}


.input {
  text-align: center;
  width: 25rem;
  font-size: 3rem;
  border: none;
  border-bottom: solid;
  background-color: var(--background-color);
  color: var(--button-color);
}

.input:focus-visible {
  /* border: none; */
  outline: none;
}

.input::placeholder {
  color: #55194fa7;
}

.heading {
  font-size: 4em;
  font-weight: 700;
  color: var(--neutral-color);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.user-name, .room-id {
  font-size: 2em;
  color: var(--grid-lines-color-active);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.win .cross {
  color: var(--grid-lines-color);
}

.win .naught {
  color: var(--grid-lines-color);
}

.draw .cross, .draw .naught {
  color: var(--grid-lines-color);
}

.win:has(.cross.visible) {
  background-color: var(--cross-color);
}

.win:has(.naught.visible) {
  background-color: var(--naught-color);
}

.draw:has(.cross.visible), .draw:has(.naught.visible) {
  background-color: var(--neutral-color);
} 

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.x-player.current-turn:hover .cross.invisible {
  opacity: 0.2;
}

.o-player.current-turn:hover .naught.invisible {
  opacity: 0.2;
}

.current-turn {
  cursor: pointer;
}

.row-1 {
  background-color: var(--grid-lines-color-neutral);
  grid-column: 1 / 6;
  grid-row: 2;
}

.row-2 {
  background-color: var(--grid-lines-color-neutral);
  grid-column: 1 / 6;
  grid-row: 4;
}

.col-1 {
  background-color: var(--grid-lines-color-neutral);
  grid-row: 1 / 6;
  grid-column: 2;
}

.col-2 {
  background-color: var(--grid-lines-color-neutral);
  grid-row: 1 / 6;
  grid-column: 4;
}

.row-1.active, .row-2.active, .col-1.active, .col-2.active {
  background-color: var(--grid-lines-color-active);
}

.col-1,
.col-2 {
  border-radius: 100px;
  animation: height-animation 0.5s both;
}

.row-1,
.row-2 {
  border-radius: 100px;
  animation: width-animation 0.5s both;
}

@keyframes height-animation {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes width-animation {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}
